h1 {
    color: #005163;
    font-family: 'Proxima Nova', sans-serif;
}

.hero {
    background-color: #f1f3f4;
    padding: 4rem 0;
    text-align: center;
  }
  
  .hero-content {
    max-width: 800px;
    margin: 0 auto;
  }
  
  .hero-title {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
  }
  
  .hero-subtitle {
    font-size: 1.25rem;
    margin-bottom: 2rem;
  }